<h1>tasks</h1>

<div [class.wrapper-loading]="loading$ | async">

  <ul>

    <li *ngFor="let task of tasks$ | async">
      <button (click)="toggle(task)">{{task.completed ? 'done' : 'todo'}}</button> &nbsp;&nbsp;&nbsp;
      {{task.name}} &nbsp;&nbsp;&nbsp;
      <button (click)="delete(task)">X</button>
    </li>

  </ul>

  <input type="text" [(ngModel)]="newName" (keydown.enter)="add(newName)" placeholder="Add a new task"> &nbsp;
  <button (click)="add(newName)">Add</button>

</div>


<div *ngIf="loading$  | async">Loading...</div>
<div *ngIf="loaded$  | async">Loaded!</div>
<div *ngIf="networkError">Network Error! :-( Try again later.</div>

